<template>
    <div class="v-card-item">
        <div class="v-card-item__inner">
            <h5 class="v-card-item__title">{{ post.title }}</h5>
            <p class="v-card-item__text">{{ post.body }}</p>
            <h6 class="v-card-item__author">{{ post.author }}</h6>
        </div>
    </div>
</template>

<script>
export default {
    name: 'v-card-item',
    props: {
        post: {
            type: Object,
            required: true
        },
    },
}
</script>

<style scoped lang="scss">
    .v-card-item {
        margin-bottom: 20px;
        &__inner {
            border-radius: 4px;
            padding: 10px;
            background: #fff;
            border: 1px solid #D7D9DC;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        &__title {
            color: #3F89E3;
        }
        &__author {
            color: #D7D9DC;
            margin-top: auto;
        }
    }
</style>
