<template>
    <div class="app pb-3">
        <div class="container">
            <div class="row">
                <div class="app__search col-lg-4 m-auto mb-4">
                    <label>
                        <div class="app__search-icon">
                            <i class="bi bi-search"></i>
                        </div>
                        <MyInput
                            type="text"
                            placeholder="Filter by author"
                            :model-value="searchQuery"
                            @update:model-value="setSearchQuery"
                        />
                    </label>
                </div>
            </div>
            <div class="row row-cols-md-3">

                <CardItem
                    class="card col-lg-4"
                    v-for="post in sortedPosts"
                    :key="post.id"
                    :post="post"
                >

                </CardItem>
            </div>
        </div>
    </div>
</template>

<script>
import CardItem from './components/v-card-item.vue'
import {mapState, mapActions, mapMutations, mapGetters} from 'vuex'
import MyInput from "@/components/my-input";

export default {
    name: 'App',
    data() {
        return {

        }
    },
    components: {
        MyInput,
        CardItem,
    },
    computed: {
        ...mapState([
            'posts',
            'users',
            'searchQuery',
            'newPosts'
        ]),
        ...mapGetters([
           'sortedPosts'
        ]),
    },
    methods: {
        ...mapActions([
            'getAllData'
        ]),
        ...mapMutations([
           'setSearchQuery'
        ]),
    },
    mounted() {
        this.getAllData()
    },
}

</script>


<style lang="scss">
    .app {
        background: #ECF1F6;
        padding-top: 20px;
    }
    .app__search {
        text-align: center;
        label {
            border: 1px solid #D7D9DC;
            width: 100%;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            input {
                flex: 1 0 auto;
                border: none;
                padding: 0 10px;
                &:focus {
                    outline: 1px solid #3F89E3;
                }
            }
        }
        &-icon {
            padding: 5px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
        }
    }
    .app__card-wrapper {

    }
    .card {
        border: none !important;
        background: transparent !important;
    }
</style>
